{
	"extends": [
		"eslint:recommended",
		"plugin:import/errors",
		"plugin:import/warnings"
	],
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"impliedStrict": true,
			"jsx": true
		}
	},
	"plugins": [
		"babel",
		"flowtype",
		"import",
		"react",
		"react-native"
	],
	"rules": {
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2
	}
}